[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "ext/minimap2"]
	path = ext/minimap2
	url = https://github.com/lh3/minimap2.git
	branch = main
[submodule "ext/WFA2-lib"]
	path = ext/WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
[submodule "ext/rype"]
	path = ext/rype
	url = git@github.com:the-miint/rype.git
