[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "ext/minimap2"]
	path = ext/minimap2
	url = https://github.com/the-miint/minimap2.git
	branch = v2.30-miint
[submodule "ext/WFA2-lib"]
	path = ext/WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
[submodule "ext/rype"]
	path = ext/rype
	url = https://github.com/the-miint/rype.git
[submodule "ext/vsearch"]
	path = ext/vsearch
	url = https://github.com/the-miint/vsearch.git
	branch = v2.30.5-miint
[submodule "ext/mafft"]
	path = ext/mafft
	url = https://github.com/the-miint/mafft.git
	branch = v7.471-miint
[submodule "ext/sortmerna"]
	path = ext/sortmerna
	url = https://github.com/the-miint/sortmerna.git
	branch = v4.4.0-miint
[submodule "ext/unifrac-binaries"]
	path = ext/unifrac-binaries
	url = https://github.com/biocore/unifrac-binaries.git
	branch = main
[submodule "ext/scikit-bio-binaries"]
	path = ext/scikit-bio-binaries
	url = https://github.com/scikit-bio/scikit-bio-binaries.git
	branch = main
